/* ============================================================
                   адаптивна стилізація сайту
   ============================================================ */


/* до 992px */
@media (max-width: 992px) {

    main {
        padding: 20px;
        margin: 20px auto;
    }

    nav ul {
        gap: 20px;
    }

    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-content {
        gap: 20px;
    }
}


/* до 768px */
@media (max-width: 768px) {

    .burger {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        background: #fff;
        padding: 15px;
        border: 1px solid #ddd;
        position: absolute;
        top: 60px;
        right: 20px;
        width: 200px;
        border-radius: 10px;
        gap: 12px;
        z-index: 100;
    }

    nav ul.active {
        display: flex;
    }

    header {
        padding: 15px 0;
    }

    main {
        margin: 15px;
        padding: 20px;
    }

    .search-box {
        flex-direction: column;
    }

    .search-box button {
        width: 100%;
    }

    .hero {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .hero-image img {
        max-width: 300px;
        margin: 0 auto;
    }

    .card {
        padding: 15px;
    }

    .contact-content {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .contact-image {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .contact-image img {
        width: 100%;
        max-width: 500px;
        border-radius: 16px;
        margin-top: 20px;
    }
}


/* до 480px */
@media (max-width: 480px) {

    h1 { font-size: 22px; }
    h2 { font-size: 18px; }
    p  { font-size: 14px; }

    nav ul {
        font-size: 16px;
    }
    
    .contact-image img {
        max-width: 380px;
    }
}


/* HERO СЕКЦІЇ */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
}


/* GRID карток (телефони) */
@media (max-width: 600px) {
    .cards-grid {
        grid-template-columns: 1fr;
    }
}


/* БЛОК ПЕРЕВАГ */
@media (max-width: 900px) {
    .advantages-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .advantages-grid {
        grid-template-columns: 1fr;
    }
}

.mobile-auth {
    display: none;
}

/* Показуємо у бургер-меню */
@media (max-width: 768px) {
    .mobile-auth {
        display: block;
    }

    .nav-auth {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .mobile-auth {
        display: none !important;
    }

    .nav-auth {
        display: flex !important;
    }
}

